= link_to "https://www.google.co.jp" do
  .side__group-content
    %p.side__group-name
      test
    %p.side__group-message
      こんにちは
= link_to "https://www.google.co.jp" do
  .side__group-content
    %p.side__group-name
      test2
    %p.side__group-message
      初めまして
