.chat-main__message
  .chat-main__message-name
    = message.user.name
  .chat-main__message-time
    = message.created_at  
  .chat-main_message-text
    = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
