.warapper
  
  = render "shared/side_bar"

  .chat-main
    .chat-main__header
      .chat-main__header--group
        %h1.chat-main__header--group-name
          test
        %p.chat-main__header--group-members
          Members: nao,chiho
      %a.btn{href: 'https://www.google.co.jp'} 
        .btn-edit
          Edit

    .chat-main__content
      .chat-main__list
        =render partial: "chatmain-message"
        

    .chat-main__footer
      %form.footer__form
        %input.message{type: "text", placeholder: "type a message"}
        %label{for: "message-image"}
          %input.image{type: "file", accept: "image/*", id: "message-image"}
          %i.fa.fa-picture-o  
        %input.submit{type: "submit", value: "Send"}



